spring:
  application:
    name: jwt

  datasource:
    url: jdbc:mysql://localhost:3306/jwt
    username: jae
    password: Jae2525!

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: true

  jwt:
    secret: vmfhaltmskdlstkfkdgodyrogkfwkdbalrogkfwkdbalaaaaaaaaaaaaaaaabbbb

  redis:
    host: localhost
    port: 6379